@model IEnumerable<Web_Aplication_Trainee_VIxTeam.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdFilhos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdFilhos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                    @{
                        if (item.Situacao == true){
                            @:Ativo
                        }
                        else{
                            @:Inativo  
                        }
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoPessoa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoPessoa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoPessoa">Delete</a> |
                <a asp-action="MudaSituacao" asp-route-id="@item.CodigoPessoa">Alterar status</a>
            </td>
        </tr>
}
    </tbody>
</table>
